{% extends "base.html" %}

{% block content %}
  <h3>What is "Perfect Tempo?"</h3>
  <p>"Perfect Tempo" is the theorized ability of humans to assign specific BPMs to rhythmic patterns, much like absolute pitch ("perfect pitch").</p>

  <h3>What is "Perfect Tempo?" (The Game)</h3>
  <p>Perfect Tempo is a game that is designed to help you practice your tempo. It is not prescriptive.</p>

  <h3>What sound samples are you using?</h3>
  <p>A midi drumset patch.</p>

  <h3>Can I change the instrument type?</h3>
  <p>At the moment, no.</p>

  <h3>How did you design "Perfect Tempo?"</h3>
  <p>Using Flask...</p>

  <h3>Can I help with this project?</h3>
  <p>Yes! You can collaborate with me on Github or email me with questions at luolawrence1@gmail.com</p>
{% endblock %}
