<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- See static files formatting: https://flask.palletsprojects.com/en/1.1.x/quickstart/#static-files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Supply default title if individual pages lack one -->
    {% if title %}
      <title>{{ title }} - Perfect Tempo</title>
    {% else %}
      <title>Perfect Tempo</Title>
    {% endif %}
  </head>

  <body class="mainContainer">
    <span><a href="/">Perfect Tempo</a> | <a href="/about">About</a></span>
    <hr>

    {% block content %}
    {% endblock %}
  </body>
</html>
