{% extends "base.html" %}

{% block content %}
  <!-- Using Audio Controls instead of autoplay
  <audio controls controlsList="nodownload notimer">
    <source src="{{ url_for('static', filename='mp3/' + target + '.mp3') }}" />
  </audio> -->

  <h2>Guesses: {{ guesses }}</h2>

  {% if started %}
    <!-- If started, both Play button & Guess inputs are available -->
    <audio autoplay>
      <source src="{{ url_for('static', filename='mp3/' + target + '.mp3') }}" />
    </audio>

    <form action="" method="post">
      {{ guess_form.hidden_tag() }}
      <div>{{ guess_form.play() }} </div>
      <div>
        {{ guess_form.bpm.label }}
        {{ guess_form.bpm }}
        {{ guess_form.submit() }}
      </div>

      {% for error in guess_form.bpm.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </form>
  {% else %}
    <!-- If not started, only Play button is visible -->
    <form action="" method="post">
      {{ guess_form.hidden_tag() }}
      <div>{{ guess_form.play() }}</div>
    </form>
  {% endif %}
{% endblock %}
